name: Add and release master

on:
  issues:
    types: [labeled]
jobs:
  transform:
    if: "github.event.issue.labels[0].name == 'action'"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 12.x
        env:
          TT_TRANSFORM: ${{ github.event.issue.body }}
      - name: Install node modules
        run: yarn install
      - name: Run transform
      - run: TT_TRANSFORM=$TT_TRANSFORM yarn start
        with:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
